<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="card mt-3">
			<div class="card-header">Add User</div>
			<div class="card-body">
				<form method="POST" th:action="@{/user/add}" th:object="${user}">
					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" th:name="username" th:value="*{username}">
						<span th:errors="${user.username}" class="text-danger mt-2"></span>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" th:name="password" th:value="*{password}">
						<span th:errors="${user.password}" class="text-danger mt-2"></span>
					</div>
					<div class="form-group">
						<label>PePassword</label>
						<input type="password" class="form-control" th:name="rePassword" th:value="*{password}">
					</div>
					<div class="form-group">
						<label>Roles</label>
						<select name="roles" class="form-control" multiple="multiple">
							<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">
						</select>
					</div>
					<button class="btn btn-primary mt-2" type="submit">Add</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>